/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; */
/* } */
.hang h3{
    margin-top: 20px;
    width: 200px;
    margin-left: 20px;
}
.dayout{
    display: flex;
    /* justify-content: space-evenly; */

}
/* .secondout-1{
    border: 1px solid red;
    
    margin-left: 5px;
}
.secondout-2{
    border: 1px solid red;
    margin-left: 5px;

}
.secondout-3{
    border: 1px solid red;
    margin-left: 5px;

}
.secondout-4{
    border: 1px solid red;
    margin-left: 5px;

}
.secondout-5{
    border: 1px solid red;
    margin-left: 5px;


} */

.firstout{
    margin-left: 30px;
    background-color: #efefef;

    width: 200px;
    height: 350px;
    border-radius: 20px;
   
}
.firstout img{
    height: 250px;
    width: 170px;
    margin-left: 20px;
    margin-top: 20px;

}
.stock{
background: linear-gradient(90deg, #747aff, #ff1446);

}
.stock p{
    font-size: 17px;
    margin-left: 17px;
    margin: 10px 20px;
    /* background-color: red; */


}
.display p{
    margin-top: 15px;
    font-size: 14px;
}
.display hr{
    width: 200px;
    margin-top: 10px;
}
.rose-color{
display: flex;
/* justify-content: center; */
margin-top: 10px;
margin-left: 30px;
gap: 8px;

}
.rose-color .coler-1{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
.rose-color .coler-2{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
.rose-color .coler-3{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
.rose-color .coler-4{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
.rose-color .coler-5{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
.Rose p{
    font-size: 17px;
    margin-left: 30px;
}
.Rose h2{
    margin-top: 10px;
    margin-left: 30px;
}
.Gold{
    display: flex;
    gap: 8px;

}
.Gold p{
    margin-left: 30px;
}
.Gold h5{
    margin-left: 0px;
    margin-top: 15px;
}
.Gold button{
    height: 60px;
    width: 50px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: black;
    color: white;
}