*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
hr{
    opacity: 0.3;
    margin-top: 7px;
}
.list{
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 20px;
}
.list li{
    list-style: none;
}
